*::after,
*::before,
* {
	box-sizing: border-box;
	margin: 0;
	font-size: 20px;
	font-family: Roboto;
}

:root {
	--background: rgb(11, 22, 34);
	--foreground: rgb(21, 31, 46);
	--text-color: rgb(159, 173, 189);
	--highlight: rgb(61, 180, 242);

	--icon-size-small: 1rem;
	--icon-size-large: 1.5rem;
}

.app {
	min-height: 100vh;
	background-color: var(--background);
	color: var(--text-color);
}

.hide {
	display: none;
}

.warning {
	font-size: 0.75rem;
	color: var(--highlight);
}

.search {
	padding-bottom: 0.5rem;
	padding-left: calc(100vw - 100%);
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem 0;
	margin-bottom: 0.75rem;
	background-color: var(--foreground);
}

.search-form input[type="text"] {
	background-color: var(--background);
	color: var(--text-color);
	border: none;
	outline: none;
	width: 20rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}

.search-form input[type="text"]::placeholder {
	color: var(--highlight);
}

.search-form input[type="text"]:focus {
	color: white;
	outline: 2px solid var(--highlight);
}

.search-form input[type="submit"] {
	background-color: var(--highlight);
	color: white;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	border: none;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.search-form input[type="submit"]:active {
	background-color: white;
	color: var(--highlight);
}

.search-results {
	margin: 0 auto;
	width: 40rem;
}

.search-results .loading {
	display: flex;
	justify-content: center;
}

.search-results .entry {
	display: flex;
	position: relative;
	gap: 0.5rem;
	border-radius: 5rem 0.5rem 5rem 0.5rem;
	background-color: var(--foreground);
}

.search-results .entry:not(:last-child) {
	margin-bottom: 0.5rem;
}

.search-results .image {
	width: 8rem;
	object-fit: cover;
	object-position: top;
	aspect-ratio: 16 / 9;
	border-radius: 5rem 0 0 0.5rem;
}

.search-results .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem 0;
	gap: 0.5rem;
}

.search-results .top .name {
	font-size: 1.25rem;
	font-weight: 500;
}

.search-results .bottom {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.rating,
.metacritic,
.released {
	display: flex;
	align-items: center;
}

.metacritic {
	min-width: 2rem;
}

.released {
	min-width: 6.5rem;
}

.rating {
	cursor: pointer;
}

.metacritic,
.released,
.rating,
.platforms,
.backlogs-list {
	display: flex;
	font-size: 0.8rem;
	gap: 0.5rem;
}

.platforms,
.backlogs-list {
	background-color: var(--background);
	color: var(--text-color);
	border: none;
	outline: none;
	min-width: 8.75rem;
	padding: 0.25rem 0.5rem;
}

.platforms > option,
.backlogs-list > option {
	font-size: 0.75rem;
	background: var(--background);
	color: var(--text-color);
	padding: 0.25rem 0.5rem;
}

.metacritic img,
.rating img,
.released img {
	object-fit: cover;
}

.metacritic img {
	height: var(--icon-size-small);
	width: var(--icon-size-small);
}

.rating img {
	height: var(--icon-size-large);
	width: var(--icon-size-large);
}

.released img {
	height: var(--icon-size-small);
	width: var(--icon-size-small);
}

.search-results .buttons {
	display: flex;
	align-items: center;
}

.add-game {
	display: flex;
	justify-content: center;
	position: absolute;
	border: 2px solid var(--text-color);
	background: var(--foreground);
	border-radius: 100%;
	font-size: 1.45rem;
	width: 2rem;
	height: 2rem;
	right: 2.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.add-game:hover {
	background-color: var(--highlight);
	color: white;
}

.add-game:active {
	background-color: white;
	color: var(--highlight);
}

.gray-out {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	width: 100vw;
	height: 100%;
	z-index: 5;
}

.modal {
	display: flex;
	justify-content: center;
}

.add-game-modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	top: 30%;
	padding: 1.5rem;
	min-width: 25rem;
	background-color: var(--foreground);
	border-radius: 0.25rem;
	z-index: 10;
}

.add-game-modal button {
	background-color: var(--highlight);
	color: white;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	border: none;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.add-game-modal button:active {
	background-color: white;
	color: var(--highlight);
}

.add-game-modal button:disabled {
	background-color: grey;
	color: lightgray;
	cursor: unset;
}

.modal-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
}

.modal-exit {
	position: absolute;
	font-size: 1.5rem;
	top: 0.25rem;
	right: 0.75rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.modal-exit:hover {
	color: var(--highlight);
}

.modal-exit:active {
	color: white;
}

.modal-title {
	margin-bottom: 1rem;
}

.tooltip-parent {
	position: relative;
}

.tooltip-text {
	-webkit-user-select: none;
	user-select: none;
}

.tooltip-parent .tooltip-text {
	position: absolute;
	z-index: 1;
	background-color: var(--highlight);
	color: white;
	text-align: center;
	font-size: 0.55rem;
	font-weight: 500;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	opacity: 0;

	width: var(--width);
	top: 150%;
	left: var(--left-offset);

	transition: all 0.5s;
}

.tooltip-parent:hover .tooltip-text {
	opacity: 1;
	transition: all 0.5s;
}

.tooltip-parent .tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--highlight) transparent;
}
